@{
    ViewBag.Title = "Secure";
}

<h2>Secure logged in as @User.Identity.Name</h2>

<ul>
    @foreach (var claim in ((System.Security.Claims.ClaimsPrincipal)User).Claims)
    {
        <li>
            @claim.Type
            :
            @claim.Value
        </li>
    }
</ul>

@{
    var cp = (System.Security.Claims.ClaimsPrincipal)User;
    var token = cp.FindFirst("access_token")?.Value;
}


