@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="dashboardController">
    <div class="jumbotron">
        <h2>Dashboard</h2>
        {{message}}
    </div>

   <ul>
       <li ng-repeat="change in pendingChanges">
           {{change.FirstName}}
       </li>
   </ul>

    <div class="row">
        <div ng-app="">
            <p>Name : <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/dashboard")